<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avnsoft.photoeditor.photocollage">

    <!-- Media/Gallery permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.avnsoft.photoeditor.photocollage.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emoji">
        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.EditorActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.crop.CropActivity"
            android:exported="false" />

        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.crop.CropActivity_phase_1"
            android:exported="false" />


        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.imagepicker.ImagePickerActivity" />
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.collage.CollageActivity" />

        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.adjust.AdjustActivity" />
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.blur.BlurActivity" />
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.filter.FilterActivity" />
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.sticker.StickerActivity" />
        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.text_sticker.TextStickerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.remove_object.RemoveObjectActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.MyApp.Material" />

        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.background.BackgroundActivity" />

        <activity android:name=".ui.activities.editor.draw.DrawActivity" />
        <activity android:name=".ui.activities.store.StoreActivity" />
        <activity android:name=".ui.activities.store.detail.StoreStickerDetailActivity" />
    </application>

</manifest>