<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avnsoft.photoeditor.photocollage">

    <!-- Media/Gallery permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.avnsoft.photoeditor.photocollage.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emoji"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.EditorActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.crop.CropActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.crop.CropActivity_phase_1"
            android:screenOrientation="portrait"
            android:exported="false" />


        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.imagepicker.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.collage.CollageActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.adjust.AdjustActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.blur.BlurActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.filter.FilterActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.sticker.StickerActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activities.store.tab.template.detail.TemplateDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.text_sticker.TextStickerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"
            />
        <activity
            android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.remove_object.RemoveObjectActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.MyApp.Material" />

        <activity android:name="com.avnsoft.photoeditor.photocollage.ui.activities.editor.background.BackgroundActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activities.editor.draw.DrawActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activities.store.StoreActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activities.store.tab.sticker.detail.StoreStickerDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activities.store.tab.background.detail.StoreBackgroundDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activities.settings.SettingsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activities.language.LanguageSelectionActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activities.store.editor.EditorStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity android:name=".ui.activities.editor.remove_background.RemoveBackgroundActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activities.editor.ai_enhance.AIEnhanceActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activities.freestyle.FreeStyleActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activities.export_image.ExportImageResultActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activities.editor.remove_background.RemoveBackgroundResultActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".ui.activities.editor.frame.FrameActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ui.activities.editor.text_sticker.edittext.EditTextStickerActivity"
            android:theme="@style/Theme.TransparentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name=".ui.activities.editor.remove_background.onboard.OnboardRemoveBackgroundActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>